<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="pk-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/pk_db</jta-data-source>
    <jar-file>pk-ejb-remote.jar</jar-file>
    <shared-cache-mode>NONE</shared-cache-mode>
    <!--    <validation-mode>NONE</validation-mode>-->
    <properties/>
  </persistence-unit>
</persistence>
