/*main layout*/
#wrapper {
    padding: 0px;
    min-width: 1270px;
    /*width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;*/
}

#header {
    background-color: #c7e0f2;
}

#header #login {
    padding: 5px 5px 0px 5px;
    border: 1px solid #a6c9e2;
    border-bottom: 0px;
    height: 18px;
}

#header #banner {
    height:55px;
}

#header #banner #left {
    background: #8fc5d5 url(/ebtos/resources/images/banner-ebtos-slim.png) no-repeat 0%;
    width:1270px;
    height:100%;
    float:left;
}

#header #banner #right {
    background: #8fc5d5 url(/ebtos/resources/images/banner-ebtos-slim-right.png) repeat-x 0%;
    height:100%;
}

#menubar {

}

#content {
    padding:20px 10px 10px 10px;
    background-color: #c7e0f2;
    width: auto;
    border: 1px solid #a6c9e2;
    border-top-width: 0px;
}

#content fieldset {
    padding:20px 20px 20px 20px;
}
/*end main layout*/