body {
    background-color: #e1edf5;
    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
    color: #2E6E9E;
    margin: 0px;
    width: auto;
    /*text-align: center;*/
    
    
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #2779AA;
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

h3,h4 {
    margin: 0px;
    padding: 0px;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    text-decoration : none;
}

.header-panel-left{
    text-align: left;
    float: left;
    width: 40%;
}

.header-panel-right{
    text-align: right;
}

.header-panel-single-left{
    text-align: left;
}

.header-panel-single-right{
    text-align: right;
}
.header-panel-single-center{
    text-align: center;
}
/*.ui-menubar .bd ul .ui-menubar-item-label {
    padding: 10px 20px 10px 20px;
    *margin-left: 10px;
}*/

#toolTip {
    left:100px;
    top:100px;
    position: absolute;
    width: 100px;
    height: 50px;
    display:none;
}

.chat-bubble {
    background-color:#EDEDED;
    border:2px solid #2e6e9e;
    line-height:1.3em;
    margin:10px auto;
    padding:10px;
    position:relative;
    min-width:200px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-box-shadow:0 0 5px #888888;
    -webkit-box-shadow:0 0 5px #888888;
}
.chat-bubble-arrow-border {
    border-color: #2e6e9e transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
    bottom:-22px;
    left:30px;
}
.chat-bubble-arrow {
    border-color: #EDEDED transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
    bottom:-19px;
    left:30px;
}

tr.ui-widget-content:hover{
    background: none repeat scroll 0 0 #C7E0F2;
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.area {
    /*    cursor: pointer;*/
}

.false-row {
    background-color: #ffff99;
    background-image: none;
    color: #000000;
}

.first-td{
    width: 150px;
}
.first-td-short{
    width: 80px;
}
.first-tr{
    vertical-align: top;    
}

.msg-error{
    color: black;
    background: #FFCCAA;
    border: 1px solid #FF3334;
    padding: 0 5px;
    border-radius: 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/**    override primefaces style   */

/**
#menubar .ui-widget-content {
    border: 1px solid #a6c9e2;
    color: #222222;
    border-bottom: 0px;
}

.ui-menubar .bd ul .ui-menubar-item-label:hover {
    background:url(/ebtos/resources/images/icon-menubar-billing.png) no-repeat 1%;
}*/

/**    end override primefaces style   */


/* loader */
.loader-type-1{
    width: 130px;
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size: 12px;
    top:0;
    z-index: 9999;
    padding: 5px 20px;
    background-color: #ffde59;
    border: 1px solid #ccc;
    position: fixed;
    left: 50%;
    margin-left: -65px;
    font-weight: bold;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.img-loader{
    margin: 5px 0 -5px 5px;
}


table.table-style-1 {
        font: 11px/18px Verdana, Arial, Helvetica, sans-serif;
        width: 320px;
        }

table.table-style-1 th {
        padding: 0 0.5em;
        text-align: left;
        }

table.table-style-1 tr.yellow td {
        border-top: 1px solid #FB7A31;
        border-bottom: 1px solid #FB7A31;
        background: #FFC;
        }

table.table-style-1 td {
        border-bottom: 1px solid #CCC;
        padding: 0 0.5em;
        }

table.table-style-1 td:first-child {
        width: 190px;
        }

table.table-style-1 td+td {
        border-left: 1px solid #CCC;
        text-align: center;
        }

.style-notification{
    width: 900px;
    border: 2px solid red;
    padding: 2px 2px;
    -moz-border-radius:5px;
    border-radius:5px;
    color: red;
    font-size: 15px;
}

.ui-module:after{clear: both;content: ".";display: block;height: 0;visibility: hidden;}
/* float clearing for IE6 */* html .ui-module{height: 1%;overflow: visible;}
/* float clearing for IE7 */* + html .ui-module{min-height: 1%;}
.ui-breadcrumb{margin: 0;padding: 0;;height: 18px;overflow: hidden;padding-bottom:3px;}
.ui-breadcrumb ul{margin: 0;padding: 0;height: 18px;display: block;}
.ui-breadcrumb ul li{display: block;float: left;position: relative;height: 21px;overflow: hidden;line-height: 21px;}
.ui-breadcrumb ul li span{display: block;overflow: hidden;}
.ui-breadcrumb ul li a{font-weight: normal;display: block;position: relative;height: 21px;line-height: 21px;overflow: hidden;float: left;}
.ui-breadcrumb ul li.first a{height: 16px !important;text-indent:-1000em;width:16px;padding: 0;margin-top: 2px;overflow: hidden;}
.ui-breadcrumb ul li.preview{padding:0px 10px 0px 0px;}
.ui-breadcrumb ul li.last{background: none;margin-right: 0;padding-right: 0;}
.ui-breadcrumb ul li.last a{font-weight: bold;}
.ui-breadcrumb-chevron{float:left;margin-top:2px;}
.ui-breadcrumb-chevron-overlay{display: none;position: absolute;right: 0;top: 0;z-index: 2;margin-top:2px;}